@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background: #f8f9fa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e6674;
}

.paginationButton {
  width: 32px;
  height: 32px;
  border: 1px solid #ced5de;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #1f2939;
  margin-right: 4px;
}
